 <h1>Edit Note</h1>

<%= form_with url: "/users/#{current_user.id}/note/#{@note.id}", model: @note, method: :patch, local: true do |f|%>
    <%= f.label :title, "Title: " %>
    <%= f.text_field :title %>

    <%= f.label :body, "Body Text: " %>
    <%= f.text_field :body %><br/>

    <%= f.submit "Update Note" %>
<% end %> 