<h1> Note Details </h1>

<h2><%= @note.title %></h2><br>
<%= @note.body %><br>
<%= @note.created_at %><br>
<%= current_user.name %><br>

<h3><%= link_to "Edit Note", "/users/#{current_user.id}/note/#{@note.id}/edit", method: :get %></h3>